*{
	/* on retire les marges du navigateur */
	padding: 0;
	margin: 0;
}

.conteneur{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3{
	font-family: 'Vidaloka', serif;
	font-weight: 400;
	color: #A0384F;
}

p, a{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 13px;
}

p{
	color: #343434;
}

a{
	color: #63CEBC;
}

footer p, footer .big span{
	color: #63CEBC;
}

footer .big{
	color: #A0384F;
}

header, footer, .section1{
	background-color: #FBFBFB;
}

main{
	background-color: #F1EEE9;
}

h1, h3, footer .big span{
	font-size: 60px;
	text-transform: uppercase;
}

h2{
	font-size: 20px;
	text-transform: uppercase;
}

footer .big{
	font-size: 40px;
}

footer p{
	text-align: center;
}

header{
	padding-top: 50px;
	padding-bottom: 50px;
}

main{
	padding-top: 30px;
	padding-bottom: 30px;
}

.section1{
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(image/fleurs.jpg);
	background-repeat: no-repeat;
	background-size: 100%;

	display: flex;
	justify-content: space-around;
}

.section1 article{
	width: 25%;
	text-align: center;
}

h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

a{
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	border-top: 1px solid #63CEBC;
	border-bottom: 1px solid #63CEBC;
	text-decoration: none;
}

.section2{
	background-image: url(image/my-story.jpg);
	background-size: cover;
	padding: 20px;
}

.section2 article{
	width: 50%;
}

.section2 h3{
	border-bottom: 2px solid #FBFBFB;
	margin-bottom: 20px;
}

footer{
	padding-top: 10px;
	padding-bottom: 30px;
}

a:hover{
	color: #A0384F;
}